.card_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  border: solid 0.2rem black;
}

.normalValue {
  color: black;
}

.neutralValue {
  color: grey;
}

.positiveValue {
  color: green;
}

.negativeValue {
  color: red;
}
